:root {
  background-color: #181818;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f8f8f8;
    color: #181818;
  }
}

.moving-trace {
  height: 2px;
  width: 200px;
  position: relative;
  overflow: hidden;
}

.moving-trace:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 200%; /* Twice the container's width */
  height: 100%; 
  background-image: repeating-linear-gradient(to right, currentColor 0px, currentColor 2px, transparent 2px, transparent 4px);
  animation: move-trace 5s infinite linear;
}

@keyframes move-trace {
  100% {
    left: -100%; /* Move to the left */
  }
}
